@use '../abstracts' as *;
@use '../base' as *;

// .btn { background-color: $success; }
// .btn { border-radius: map-get($radius, pill); }
// #1800f3
// #5924ed

.btn {
	font-size: 1.025rem;
	padding: 0.45em 1.4em;
	border-radius: 2ch;
	transition: all 0.25s ease;
	
	&:active {
		background-color: #5a24ed38 !important;
		color: #333 !important;
    letter-spacing: 2px;
  }
	&:hover {
		transform: scale(1.03);
	}
}

.btn--primary {	
	border: transparent;
	background: #5924ed;
	color: #FFF;

  i { font-size: 1.6rem; }

	&:hover {
		background-color: #7442ff;
	}
}

.btn--primary-outline {
	background-color: transparent;
	border: 2px solid #5924ed;
	color: #5924ed;

  i { font-size: 1.2rem; }
	
	&:hover {
		color: #FFF;
		background-color: #5924ed;
	}
}

.social-btn {
	@include box (30px);
	font-size: 1rem;
	display: flex;
	place-items: center;
	place-content: center;

	@include insert-element ($top: 0, $left: 0) {
		@include box (100%);
		border-radius: 2ch;
		transition: all 0.5s ease;
		box-shadow: inset 0 0 0 1px #5924ed;
	}

	&:hover {
		&::before { box-shadow: inset 0 0 0 35px #5924ed; }
		i {	color: #efebfa; }
	}

  i { 
		display: inline-block; 
		z-index: 1;
	}
}

$btn-before: 0.1rem;
$btn-after: calc(0.1rem + 0.2rem);

.copy-btn {
	padding: 1em 1em 1em 3em;
	transition: all 0.3s;
	display: flex;
	position: relative;
	font-size: 1.25rem;
  font-weight: 600;
	
	overflow: hidden;
  border-radius: 0.5rem;
	border: 1px solid rgba(0,0,0,0.5);
  background-color: #464646;
	color: #FFF;
  transition: all 0.15s ease-in;

	border-top-width: $btn-before;
  border-bottom-width: $btn-after;
	
	box-shadow: 
		inset 0 1px 0 rgba(255,255,255,0.0125),
		0 1px 1px rgba(0,0,0,0.05)
	;

	&:hover { background: #373737; }
  &:focus { background: #373737; }
  &:active {
    border-top-width: $btn-after;
    border-bottom-width: $btn-before;
  }

	& i {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 0.5rem 0 0 0.5rem;
		background: #000;
		color: #FFF;
		display: flex;
		place-items: center;
		place-content: center;
		padding: 0.75em;
		height: 100%;
	}

	&.success {
		border-top-width: $btn-after;
    border-bottom-width: $btn-before;
	}
}

@include breakpoint (tablet_1) {
	.copy-btn {
		width: 100%;
		max-width: 230px;
	}
}

@include breakpoint (tablet_2) {
	.btn--primary {
		font-size: 1.125rem;
	}
	.btn--primary-outline {
		font-size: 1.125rem;
	}
}
