<if condition="testing">
  <img
    class="hero-image"
    src="../images/profile/picture.jpg" 
    alt="my-profile-picture"
  />
</if>

<else>
  <picture class="hero-image">
    <source srcset="../images/profile/picture.jpg?as=avif" type="image/avif" />
    <source srcset="../images/profile/picture.jpg?as=webp" type="image/webp" />
    <source srcset="../images/profile/picture.jpg" type="image/jpeg" />
    <img src="../images/profile/picture.jpg" alt="my-profile-picture" />
  </picture>
</else>