<div class="system-process">
  <h3 class="section-subheading">System <q>+</q> Service</h3>

  <div class="all-process">
    <include src="../partials/blocks/ss-template.html">
      {
        "id"    : "s-1",
        "image" : "",
        "title" : "Plan It",
        "desc"  : "On a new sprint: I explore the problem, recommend a solution, give an estimate, and set a goal."
      }
    </include>
    <include src="../partials/blocks/ss-template.html">
      {
        "id"    : "s-2",
        "image" : "",
        "title" : "Build It",
        "desc"  : "As I start building: I look at use-cases, find it variants, and set clear objectives."
      }
    </include>
    <include src="../partials/blocks/ss-template.html">
      {
        "id"    : "s-3",
        "image" : "",
        "title" : "Record It",
        "desc"  : "At the end of day: I document my progress to see what's done, what's next, and any blockers."
      }
    </include>
  </div>
</div>