<div class="technologies-tools">
  <h3 class="section-subheading">Technologies <q>+</q> Tools</h3>

  <div class="all-tech">
    <include src="../partials/blocks/tt-template.html">
      {
        "id"      : "t-1",
        "title"   : "Front-End Stack",
        "tech": [
        { "title": "TypeScript",   "link": "https://typescriptlang.org/" },
        { "title": "Next.js",      "link": "https://nextjs.org/" },
        { "title": "React",        "link": "https://reactjs.org/" },
        { "title": "Tailwind CSS", "link": "https://tailwindcss.com/" }
        ]
      }
    </include>
    <include src="../partials/blocks/tt-template.html">
      {
        "id"      : "t-2",
        "title"   : "Design Research",
        "tech": [
          { "title": "Figma",              "link": "https://figma.com/" },
          { "title": "Xmind",              "link": "https://xmind.app/"  },
          { "title": "Google Analytics",   "link": "https://marketingplatform.google.com/about/analytics/" },
          { "title": "Google Tag Manager", "link": "https://marketingplatform.google.com/about/tag-manager/" }
        ]
      }
    </include>
    <include src="../partials/blocks/tt-template.html">
      {
        "id"      : "t-3",
        "title"   : "Project Management",
        "tech": [
          { "title": "Jira",      "link": "https://atlassian.com/software/jira" },
          { "title": "BitBucket", "link": "https://bitbucket.org/" },
          { "title": "VS Code",   "link": "https://code.visualstudio.com/" },
          { "title": "Notion",    "link": "https://notion.so/" }
        ]
      }
    </include>
  </div>
</div>