<section id="about">
  <div class="container">
    <h2 class="section-heading">About Me</h2>

    <div class="all-about">
      <div class="left card">
        <include src="../partials/blocks/image.html">
          {
            "class" : "card__img",
            "img"   : "../assets/images/profile/avatar.jpg",
            "alt"   : "about-profile-avatar"
          }
        </include>

        <p class="card__desc">
          Before I got into web design & development, 
          I was exploring art & science,
          just asking "what can I build & share with friends?"
          <br />
          <br />
          After every challenge I dig into, 
          I focused on finding the right tools for the job.
          I start thinking "why this? why now? can I do it?"
          <br />
          <br />
          <code>
            Now a days, I set my adventures
            towards making teams in search for
            ideating projects worth creating!
          </code>
        </p>

        <h3 class="card__name">Michael Alvarez</h3>
        <p class="card__sub-title">curious collaborative creative</p>
      </div>

      <div class="right info">
        <p class="info__intro">¡Hola! You can call me Micky <q id="bounce">🤗</q></p>
        <h3 class="info__position">Front-End Software Engineer</h3>
        
        <p class="info__desc">
          {{ tagline }}
          <br />
          <br />
          Every project I joined always treated it like a unit.
          When you get involved, we research, identify, & define the goal.
          When I start building on the MVP, I prioritize while considering UX thinking & UI principles.
          <!-- I execute on MVP as the priority while considering UX thinking & UI principles. -->
          <br />
          <br />
          <code>
            If you're looking to team up on your next project, let's talk soon!
            <i>This is the way ~</i>
          </code>
        </p>

        <div class="info__options">
          <button 
            data-id="resume" 
            type="button"
            class="btn btn--primary"
          >View Resume
          </button>

          <button 
            data-id="appointment" 
            type="button"
            class="btn btn--primary-outline"
          >Set Appointment
          </button>
        </div>
      </div>
    </div>
  </div>
</section>