<section id="contact">
  <div class="container">
    <div class="banner">
      <h3 class="b-intro">Have a project in mind</h3>
      <h2 class="b-heading">Let's get in touch</h2>
      
      <div class="toggle-control">
        <input type="checkbox" id="checkbox" />
        <label for="checkbox" id="toggle">
          <span id="controller"></span>
        </label>
      </div>

      <div class="contact-options">
        <button data-id="email" class="copy-btn email-link">
          <i class="fas fa-envelope"></i>
          <span>Email me</span>
        </button>

        <button data-id="phone" class="copy-btn phone-link">
          <i class="fas fa-phone-alt"></i>
          <span>Call me</span>
        </button>
      </div>
    </div>
  </div>
</section>