<footer>
  <div class="all-links">
    <div class="container">
      <div class="col col-0">
        <icon src="../assets/images/meta/favicon.svg" class="favicon"></icon>

        <p class="l-desc">
          {{ tagline }}
          <br />
          <br />
          I'm available for work.
        </p>
      </div>

      <div class="col col-1">
        <h4 class="l-heading">Navigation</h4>
        <ul class="l-list" role="list">
          <li><a href="#projects">My Projects</a></li>
          <li><a href="#process">My Process</a></li>
          <li><a href="#about">About Me</a></li>
        </ul>
      </div>

      <div class="col col-2">
        <h4 class="l-heading">Social</h4>
        <ul class="l-list" role="list">
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="{{ social_link.github }}"
          >GitHub
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="{{ social_link.twitter }}"
          >Twitter
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer" 
            href="{{ social_link.linkedin }}"
          >LinkedIn
          </a></li>
        </ul>
      </div>

      <div class="col col-3">
        <h4 class="l-heading">My Info</h4>
        <ul class="l-list" role="list">
          <li><a 
            target="_self"
            href="mailto:{{ contact_info.email }}"
          >{{ contact_info.email }}
          </a></li>
          <li><a 
            target="_self"
            href="tel:{{ contact_info.phone }}"
          >{{ contact_info.phone }}
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="{{ contact_info.resume }}"
          >view resume
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="{{ contact_info.calendly }}"
          >set appointment
          </a></li>
          <li><a 
            target="_blank" 
            rel="noopener noreferrer"
            href="{{ contact_info.social }}"
          >@awwmicky
          </a></li>
          <li><a 
            target="_blank" 
            rel="noopener noreferrer"
            href="{{ contact_info.location }}"
          >Bay Area, CA
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <span>© Copyright 2023 — Michael Alvarez (@awwmicky)</span>
    </div>
  </div>
</footer>