<header>
  <div class="container">
    <a class="logo" role="button" href="#">
      <icon src="../assets/images/meta/favicon.svg" class="favicon"></icon>
      <h1 class="title">Michael Alvarez</h1>
    </a>
    
    <nav class="navbar">
      <a href="#projects">My Projects</a>
      <a href="#services">My Services</a>
      <a href="#about">About Me</a>
    </nav>

    <ul class="quick-links" role="list">
      <li><a 
        class="social-btn"
        target="_blank"
        rel="noopener noreferrer"
        href="{{ social_link.github }}"
      > <i class="fa-brands fa-github"></i>
      </a></li>
      <li><a 
        class="social-btn"
        target="_blank"
        rel="noopener noreferrer"
        href="{{ social_link.twitter }}"
      > <i class="fa-brands fa-twitter"></i>
      </a></li>
      <li><a 
        class="social-btn"
        target="_blank"
        rel="noopener noreferrer"
        href="{{ social_link.linkedin }}"
      > <i class="fa-brands fa-linkedin"></i> 
      </a></li>
    </ul>
  </div>
</header>
