<main id="hero">
  <div class="container">
    <div class="hero-content">
      <p class="hero-intro">
        <span data-title="Hey, how are you">Hola, cómo estás</span>
        <q id="wave">👋</q>
        <span class="name">I am Michael Alvarez</span>
      </p>

      <h2 class="hero-title">
        I'm a Front-End Software Engineer
      </h2>

      <p class="hero-desc">
        {{ tagline }}
        If you're looking for a data-driven and ongoing-learner to join your team,
        <br />
        <code>Start exploring why</code>
      </p>
      
      <div class="hero-options">
        <button 
          data-id="resume" 
          type="button"
          class="btn btn--primary"
        >View Resume
        </button>
        
        <button 
          data-id="contact" 
          type="button"
          class="btn btn--primary-outline"
        >Get in touch
        </button>
      </div>
    </div>

    <div class="hero-profile">
      <include src="../partials/blocks/image.html">
        {
          "class" : "hero-image",
          "img"   : "../assets/images/profile/picture.jpg",
          "alt"   : "my-profile-picture"
        }
      </include>
    </div>
  </div>
</main>