<section id="projects">
  <div class="container">
    <h2 class="section-heading">Projects</h2>

    <div class="all-projects">
      <include src="../partials/projects/index.html">
        {
          "id"           : "p-1",
          "order"        : "odd",
          "title"        : "Frisko Wave",
          "caption"      : "Headless CMS e-commerce app to update content in real-time.",
          "description"  : "A seamless experience between customer, editor, and developer in producing new and existing products.",
          "roles"        : "Front-End",
          "tech"         : "TypeScript, Next.js, React, TailwindCSS, Zustand, Sanity, Stripe",
          "source_code"  : "https://github.com/awwmicky/frisko-wave",
          "live_preview" : "https://frisko-wave-app.vercel.app/"
        }
      </include>

      <include src="../partials/projects/index.html">
        {
          "id"           : "p-2",
          "order"        : "even",
          "title"        : "RATA Call",
          "caption"      : "Query caching productivity app for recording RESTful API calls.",
          "description"  : "A Devtool to simplify the API building process, ready for integration, and become part of the pipeline.",
          "roles"        : "Front-End",
          "tech"         : "TypeScript, Vite, React, Mantine UI, React Query, React Hook Form, React Router, Zustand",
          "source_code"  : "https://github.com/awwmicky/rata-call",
          "live_preview" : "https://rata-call-app.netlify.app/"
        }
      </include>

      <include src="../partials/projects/index.html">
        {
          "id"            : "p-3",
          "order"         : "odd",
          "title"         : "Netflix Clone",
          "caption"       : "Popular online streaming app, focused on improving current UI.",
          "description"   : "The goal to replicate and improve the UI code quality & structure of the original web app.",
          "roles"         : "Front-End, Tech Lead",
          "tech"          : "React, React Query, Storybook, Firebase, Sass, Styled Components",
          "source_code"   : "https://github.com/Arcane-404/netflix-clone",
          "live_preview"  : "https://the-netflix-clone-app.netlify.app/" 
        }
      </include>
    </div>
  </div>
</section>

<!--  
      <include src="../partials/projects/index.html">
        {
          "id"            : "p-2",
          "order"         : "even",
          "title"         : "OKSH",
          "caption"       : "Mock shell monospace font generator",
          "description"   : "An OKPC (NFT) companion mock shell environment for real-time monospace unicode type. Anyone can save and add their text to clipboard on any device.",
          "roles"         : "Front-End",
          "tech"          : "React, Chakra UI, Framer Motion",
          "source_code"   : "https://github.com/michaelbelong/oksh",
          "live_preview"  : "https://oksh.app/"
        }
      </include>
-->
<!--  
      <include src="../partials/projects/index.html">
        {
          "id"           : "p-4",
          "order"        : "even",
          "title"        : "MM Arch Design Studio",
          "caption"      : "Portfolio highlighting architecture projects",
          "description"  : "They design solutions making an impact for small renovation, multi-unit development, and more. The goal is to help gain more leads and book meetings.",
          "roles"        : "Web Developer",
          "tech"         : "HTML, CSS, JavaScript, jQuery",
          "source_code"  : "https://github.com/Arcane-404/Architecture-Portfolio",
          "live_preview" : "https://mm-archdesign.netlify.app/"
        }
      </include>
-->