<section id="about">
  <div class="container">
    <h2 class="section-heading">About Me</h2>

    <div class="all-about">
      <div class="left card">
        <include src="../partials/blocks/image.html">
          {
            "class" : "card__img",
            "img"   : "../assets/images/profile/avatar.jpg",
            "alt"   : "about-profile-avatar"
          }
        </include>

        <p class="card__desc">
          When I started my journey into web development, 
          I realized "I can build anything!",
          but "what should I make?".
          <br />
          <br />
          With every challenge I go in search 
          for communities I like and I ask myself, 
          "why this? why now? why me?".
          <br />
          <br />
          It helps me align & partner up with 
          the ideal project worth creating.
        </p>

        <h3 class="card__name">Michael F Alvarez</h3>
        <p class="card__sub-title">curious collaborative creative</p>
      </div>

      <div class="right info">
        <p class="info__intro">¡Hola! You can call me Micky <q id="bounce">🤗</q></p>
        <h2 class="info__position">Front-End Engineer & UI Developer</h2>
        
        <p class="info__desc">
          I help businesses make React UI libraries and features that can 
          improve on their current digital product.
          <br />
          <br />
          On every project, I plan to check for
          accessibility, compatibility, and performance.

          As I start building, I consider if it is
          responsive, reusable, and versatile.
          <br />
          <br />
          If there is a team looking to work together, let's talk.
          
          <code>This is the way ~</code>
        </p>

        <div class="info__options">
          <button data-id="appointment" class="btn btn--primary">Set Appointment</button>
          <button data-id="resume" class="btn btn--primary-outline">View Resume</button>
        </div>
      </div>
    </div>
  </div>
</section>