<div class="system-process">
  <h3 class="section-subheading">System <q>+</q> Structure</h3>

  <div class="all-process">
    <include src="../partials/blocks/ss-template.html">
      {
        "id"    : "s-1",
        "image" : "",
        "title" : "Make The Plan",
        "desc"  : "After receiving a task: I explore the problem, recommend a solution, give an estimate, and set a goal."
      }
    </include>
    <include src="../partials/blocks/ss-template.html">
      {
        "id"    : "s-2",
        "image" : "",
        "title" : "Execute On It",
        "desc"  : "As I start building: I research the challenges, find the opportunities, and set clear objectives."
      }
    </include>
    <include src="../partials/blocks/ss-template.html">
      {
        "id"    : "s-3",
        "image" : "",
        "title" : "Record Next Steps",
        "desc"  : "At the end of day: I document my progress. 'What is done, what is next, what are some blockers'."
      }
    </include>
  </div>
</div>