<div id="p-1" class="p-item odd">
  <div class="left p-thumbnail">
    <img 
      class="p-image" 
      src="../images/p-1.png"
      alt="p-1-thumbnail" 
    />
  </div>

  <div class="right p-content">
    <h3 class="p-title">{{ title }}</h3>
    <h4 class="p-caption">{{ caption }}</h4>
    <p class="p-desc">{{ description }}</p>

    <details class="p-accordion">
      <summary class="p-accordion-title">
        <b>Read More</b>
      </summary>
      <dl class="p-accordion-details">
        <dt>Roles :</dt>
        <dd>{{ roles }}</dd>
        <br />
        <dt>Tech :</dt>
        <dd>{{ tech }}</dd>
      </dl>
    </details>

    <div class="p-options">
      <a 
        role="button" 
        target="_blank"
        rel="noopener noreferrer"
        href="{{ source_code }}"
        class="btn btn--primary" 
      >
        <span>Source Code</span>
        <i class="fab fa-github-square"></i>
      </a>
      <a 
        role="button" 
        target="_blank"
        rel="noopener noreferrer"
        href="{{ live_preview }}"
        class="btn btn--primary-outline" 
      >
        <span>Live Preview</span>
        <i class="fas fa-external-link-alt"></i>
      </a>
    </div>
  </div>
</div>