<div class="all-projects">
  <div id="p-3" class="p-item p-odd">
    <div class="left p-thumbnail">
      <img 
        class="p-image" 
        src="../images/example-3.png" 
        alt="p-3-thumbnail" 
      />
    </div>
    <div class="right p-content">
      <h3 class="p-title">MM Arch Design</h3>
      <h4 class="p-sub-title">
        Portfolio site for an architect design studio.
      </h4>
      <p class="p-desc">
        The highlight was to showcase and promote their most recent work.
        In return, they can have more views on the site and gain more clients.
      </p>

<!--
      <ul class="p-tech" role="list">
        <li class="label">Tech:</li>
        <li class="p-tag">React</li>
        <li class="p-tag">Chakra UI</li>
        <li class="p-tag">Formik</li>
        <li class="p-tag">Yup</li>
        <li class="more">more</li>
      </ul>
      <ul class="p-roles" role="list">
        <li class="label">Roles:</li>
        <li class="p-position">Front-End</li>
        <li class="p-position">Project Lead</li>
      </ul>
      <ul class="p-goals" role="list">
        <li class="label">Goals:</li>
        <li class="p-task"></li>
      </ul>
-->

      <div class="p-options">
        <a 
          role="button" 
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Arcane-404/Architecture-Portfolio"
          class="btn btn--primary" 
        >
          <span>Source Code</span>
          <i class="fab fa-github-square"></i>
        </a>
        <a 
          role="button" 
          target="_blank"
          rel="noopener noreferrer"
          href="https://mm-archdesign.netlify.app/"
          class="btn btn--primary-outline" 
        >
          <span>Live Preview</span>
          <i class="fas fa-external-link-alt"></i>
        </a>
      </div>
    </div>
  </div>
</div>