<h3 class="section-subheading">Technologies <q>+</q> Tools</h3>

<div class="all-tech">
  <include src="../partials/tech-tools/index.html">
    {
      "id"      : "t-1",
      "title"   : "Front-End",
      "caption" : "I primarily use React & Tailwind",
      "tech": [
        { "title": "React",         "link": "https://reactjs.org/" },
        { "title": "Next.js",       "link": "https://nextjs.org/" },
        { "title": "Storybook",     "link": "https://storybook.js.org/" },
        { "title": "JavaScript",    "link": "http://vanilla-js.com/" },
        { "title": "TypeScript",    "link": "https://typescriptlang.org/" },
        { "title": "Sass",          "link": "https://sass-lang.com/" },
        { "title": "Tailwind CSS",  "link": "https://tailwindcss.com/" },
        { "title": "Material UI",   "link": "https://mui.com/" },
        { "title": "Chakra UI",     "link": "https://chakra-ui.com/" },
        { "title": "Semantic UI",   "link": "https://semantic-ui.com/" }
      ]
    }
  </include>
  <include src="../partials/tech-tools/index.html">
    {
      "id"      : "t-2",
      "title"   : "Design",
      "caption" : "I typically use Figma & InVision",
      "tech": [
        { "title": "Figma",            "link": "https://figma.com/" },
        { "title": "InVision",         "link": "https://invisionapp.com/" },
        { "title": "Miro",             "link": "https://miro.com/" },
        { "title": "Google Analytics", "link": "https://analytics.google.com/analytics/academy/" },
        { "title": "HotJar",           "link": "https://hotjar.com/" }
      ]
    }
  </include>
  <include src="../partials/tech-tools/index.html">
    {
      "id"      : "t-3",
      "title"   : "Workflow",
      "caption" : "I normally use BitBucket & VS Code",
      "tech": [
        { "title": "Jira",       "link": "https://atlassian.com/software/jira" },
        { "title": "BitBucket",  "link": "https://bitbucket.org/" },
        { "title": "Confluence", "link": "https://atlassian.com/software/confluence" },
        { "title": "Git",        "link": "https://git-scm.com/" },
        { "title": "GitHub",     "link": "https://github.com/" },
        { "title": "VS Code",    "link": "https://code.visualstudio.com/" },
        { "title": "Postman",    "link": "https://postman.com/" },
        { "title": "Insomnia",   "link": "https://insomnia.rest/" },
        { "title": "Notion",     "link": "https://notion.so/" },
        { "title": "Asana",      "link": "https://asana.com/" }
      ]
    }
  </include>
</div>