<h3 class="section-subheading">System <q>+</q> Process</h3>

<div class="all-process">
  <include src="../partials/sys-process/index.html">
    {
      "id"    : "s-1",
      "image" : "",
      "title" : "Make The Plan",
      "desc"  : "After receiving a task, I diagnose what the goal and problem is to reach a solution with the right  details and specs to hit the PRD."
    }
  </include>
  <include src="../partials/sys-process/index.html">
    {
      "id"    : "s-2",
      "image" : "",
      "title" : "Execute On It",
      "desc"  : "As I start building, I break down the task into  simple and clear objectives that hits the MVP, then can be ready for scalability."
    }
  </include>
  <include src="../partials/sys-process/index.html">
    {
      "id"    : "s-3",
      "image" : "",
      "title" : "Record Next Steps",
      "desc"  : "At the end of the day, I document: what is done and what is next? I also reflect and retrospect: what lessons can I learn and grow?"
    }
  </include>
</div>