/* === RESET === */
*, *::before, *::after {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%; height: 100%;
  font: 1rem sans-serif;
}

body {
  background:#eee;
  color: #333;
  line-height: 1;
  letter-spacing: .05em;
  text-align: center;
  position: relative;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;  
}

/* === STYLE === */

.box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 { margin-bottom: 0.25em; }
#back-link { margin-top: 2.25em; }

/*  */

object {
  width: 100%;
  height: 100vh;
}

a {
  --light: #f5f7fa;
  --neutral: #e4e7eb;
  --dark: #cbd2d9;
  --c-border: #9aa5b1;
  --c-shadow: #e4e1ef;

  color: inherit;
  text-decoration: none;
  position: relative;
}

#phone::before { content: "\1F4DE"; }
#resume::before { content: "\1F4C4"; }
#back-link::before { content: "\1F519"; }

#phone::before,
#resume::before,
#back-link::before {
  position: absolute;
  left: -2rem;
}

/*  */

.cta-btn {
  border: 2px solid var(--c-border);
  background: var(--light);
  
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: 
      transform 150ms cubic-bezier(0, 0, 0.58, 1), 
      background 150ms cubic-bezier(0, 0, 0.58, 1)
  ;

  font-weight: 600;
  padding: 1.25em 2em;
}

.cta-btn::after {
  content: '';

  background: var(--dark);
  
  border-radius: inherit;
  box-shadow: 
      0 0 0 2px var(--c-border), 
      0 0.625em 0 0 var(--c-shadow)
  ;
  transform: translate3d(0, 0.75em, -1em);
  transition: 
      transform 150ms cubic-bezier(0, 0, 0.58, 1), 
      box-shadow 150ms cubic-bezier(0, 0, 0.58, 1)
  ;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
}

.cta-btn:hover {
  background: var(--neutral);
  transform: translate(0, 0.25em);
}

.cta-btn:hover::after {
  box-shadow: 
      0 0 0 2px var(--c-border), 
      0 0.5em 0 0 var(--c-shadow)
  ;
  transform: translate3d(0, 0.5em, -1em);
}

.cta-btn:active {
  background: var(--neutral);
  transform: translate(0em, 0.75em);
}

.cta-btn:active::after {
  box-shadow: 
      0 0 0 2px var(--c-border), 
      0 0 var(--c-shadow)
  ;
  transform: translate3d(0, 0, -1em);
}

/*  */

#back-link { color: blue; }
#back-link:hover { text-decoration: underline; }
