<div id="t-1" class="t-item">
  <div class="t-head">
    <h3 class="t-title">Front-End</h3>
    <h4 class="t-sub-title">I primarily use React & Sass</h4>
  </div>
  
  <div class="t-body">
    <a title="React" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://reactjs.org/">
      <!-- <i class="react devicon-react-original"></i> -->
      <icon src="../assets/tech/t-1/react.svg"></icon>
    </a>
    <a title="Sass" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://sass-lang.com/">
      <!-- <i class="sass devicon-sass-original"></i> -->
      <icon src="../assets/tech/t-1/sass.svg"></icon>
    </a>
    
    <a title="JavaScript" class="t-icon" target="_blank" rel="noopener noreferrer" href="http://vanilla-js.com/">
      <!-- <i class="js devicon-javascript-plain"></i> -->
      <icon src="../assets/tech/t-1/javascript.svg"></icon>
    </a>
    <a title="TypeScript" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.typescriptlang.org/">
      <!-- <i class="ts devicon-typescript-plain"></i> -->
      <icon src="../assets/tech/t-1/typescript.svg"></icon>
    </a>

    <!-- <a title="Bootstrap" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/">
      <i class="bootstrap fab fa-bootstrap"></i>
    </a> -->
    <a title="Material UI" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://mui.com/">
      <!-- <i class="material-ui devicon-materialui-plain"></i> -->
      <icon src="../assets/tech/t-1/material-ui.svg"></icon>
    </a>
    <a title="Chakra UI" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://chakra-ui.com/">
      <!-- <i class="css devicon-css3-plain"></i> -->
      <icon src="../assets/tech/t-1/chakra-ui.svg"></icon>
    </a>

    <a title="React Router" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://reactrouter.com/">
      <!-- <i class="material-ui devicon-materialui-plain"></i> -->
      <icon src="../assets/tech/t-1/react-router.svg"></icon>
    </a>
    <a title="React Query" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://react-query.tanstack.com/">
      <!-- <i class="css devicon-css3-plain"></i> -->
      <icon src="../assets/tech/t-1/react-query.svg"></icon>
    </a>

    <a title="Storybook" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://storybook.js.org/">
      <i class="storybook devicon-storybook-plain"></i>
      <!-- <icon src="../assets/tech/t-1/storybook.svg"></icon> -->
    </a>
    <a title="Webpack" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://webpack.js.org/">
      <!-- <i class="webpack devicon-webpack-plain"></i> -->
      <icon src="../assets/tech/t-1/webpack.svg"></icon>
    </a>

    <!-- <a title="HTML" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://developer.mozilla.org/en-US/docs/Web/HTML"> -->
      <!-- <i class="html devicon-html5-plain"></i> -->
      <!-- <icon src="../assets/tech/t-1/html.svg"></icon> -->
    <!-- </a> -->
    <!-- <a title="CSS" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://developer.mozilla.org/en-US/docs/Web/CSS"> -->
      <!-- <i class="css devicon-css3-plain"></i> -->
      <!-- <icon src="../assets/tech/t-1/css.svg"></icon> -->
    <!-- </a> -->
  </div>
</div>
