<div id="t-1" class="t-item">
  <div class="t-head">
    <h3 class="t-title">{{ title }}</h3>
    <h4 class="t-sub-title">{{ caption }}</h4>
  </div>
  
  <div class="t-body">
    <a title="{{ tech[0].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[0].link }}">
      <icon src="../assets/tech/t-1/react.svg"></icon>
    </a>
    <a title="{{ tech[1].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[1].link }}">
      <icon src="../assets/tech/t-1/next-js.svg"></icon>
    </a>
    <a title="{{ tech[2].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[2].link }}">
      <icon src="../assets/tech/t-1/storybook.svg"></icon>
    </a>


    <a title="{{ tech[3].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[3].link }}">
      <icon src="../assets/tech/t-1/javascript.svg"></icon>
    </a>
    <a title="{{ tech[4].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[4].link }}">
      <icon src="../assets/tech/t-1/typescript.svg"></icon>
    </a>


    <a title="{{ tech[5].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[5].link }}">
      <icon src="../assets/tech/t-1/sass.svg"></icon>
    </a>
    <a title="{{ tech[6].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[6].link }}">
      <icon src="../assets/tech/t-1/tailwind-css.svg"></icon>
    </a>
    <a title="{{ tech[7].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[7].link }}">
      <icon src="../assets/tech/t-1/material-ui.svg"></icon>
    </a>
    <a title="{{ tech[8].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[8].link }}">
      <icon src="../assets/tech/t-1/chakra-ui.svg"></icon>
    </a>
    <a title="{{ tech[9].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[9].link }}">
      <icon src="../assets/tech/t-1/semantic-ui.svg"></icon>
    </a>
  </div>
</div>