<div id="t-2" class="t-item">
  <div class="t-head">
    <h3 class="t-title">UI/UX</h3>
    <h4 class="t-sub-title">I mainly use Figma & InVision</h4>
  </div>
  
  <div class="t-body">
    <a title="Figma" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.figma.com/">
      <!-- <i class="figma devicon-figma-plain"></i> -->
      <icon src="../assets/tech/t-2/figma.svg"></icon>
    </a>
    <a title="InVision" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.invisionapp.com/">
      <!-- <i class="invision fab fa-invision"></i> -->
      <icon src="../assets/tech/t-2/invision.svg"></icon>
    </a>

    <a title="G. Analytics" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://analytics.google.com/analytics/academy/">
      <icon src="../assets/tech/t-2/g-analytics.svg"></icon>
    </a>
    <a title="HotJar" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.hotjar.com/">
      <!-- <i class="hotjar fab fa-hotjar"></i> -->
      <icon src="../assets/tech/t-2/hotjar.svg"></icon>
    </a>
    <a title="Adobe XD" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.adobe.com/products/xd.html">
      <!-- <i class="xd devicon-xd-plain"></i> -->
      <icon src="../assets/tech/t-2/adobe-xd.svg"></icon>
    </a>
  </div>
</div>
