<div id="t-2" class="t-item">
  <div class="t-head">
    <h3 class="t-title">{{ title }}</h3>
    <h4 class="t-sub-title">{{ caption }}</h4>
  </div>
  
  <div class="t-body">
    <a title="{{ tech[0].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[0].link }}">
      <icon src="../assets/tech/t-2/figma.svg"></icon>
    </a>
    <a title="{{ tech[1].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[1].link }}">
      <icon src="../assets/tech/t-2/invision.svg"></icon>
    </a>
    <a title="{{ tech[2].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[2].link }}">
      <icon src="../assets/tech/t-2/miro.svg"></icon>
    </a>


    <a title="{{ tech[3].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[3].link }}">
      <icon src="../assets/tech/t-2/g-analytics.svg"></icon>
    </a>
    <a title="{{ tech[4].title }}" class="t-icon" target="_blank" rel="noopener noreferrer" href="{{ tech[4].link }}">
      <icon src="../assets/tech/t-2/hotjar.svg"></icon>
    </a>
  </div>
</div>