<div id="t-3" class="t-item">
  <div class="t-head">
    <h3 class="t-title">Tools</h3>
    <h4 class="t-sub-title">I mainly use Git & VS Code</h4>
  </div>
  <div class="t-body">
    <a title="Git" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://git-scm.com/">
      <!-- <i class="git devicon-git-plain"></i> -->
      <icon src="../assets/tech/t-3/git.svg"></icon>
    </a>
    <a title="GitHub" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://github.com/">
      <!-- <i class="github devicon-github-original"></i> -->
      <icon src="../assets/tech/t-3/github.svg"></icon>
    </a>

    <a title="VS Code" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://code.visualstudio.com/">
      <!-- <i class="vscode devicon-vscode-plain"></i> -->
      <icon src="../assets/tech/t-3/vs-code.svg"></icon>
    </a>
    <a title="Insomnia" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://insomnia.rest/">
      <icon src="../assets/tech/t-3/insomnia.svg"></icon>
    </a>

    <a title="Notion" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.notion.so/">
      <icon src="../assets/tech/t-3/notion.svg"></icon>
    </a>
    <a title="Asana" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://asana.com/">
      <icon src="../assets/tech/t-3/asana.svg"></icon>
    </a>

    <a title="Markdown" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.markdownguide.org/">
      <i class="md fab fa-markdown"></i>
      <!-- <icon src="../assets/tech/t-3/markdown.svg"></icon> -->
    </a>
    <a title="Google Search 😉" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.google.com/search/howsearchworks/">
      <!-- <i class="google devicon-google-plain"></i> -->
      <icon src="../assets/tech/t-3/google.svg"></icon>
    </a>
  
    <!-- Notion, Asana -->
  </div>
</div>
