<div id="t-3" class="t-item">
  <div class="t-head">
    <h3 class="t-title">Tools</h3>
    <h4 class="t-sub-title">I commonly use Git & VS Code</h4>
  </div>
  <div class="t-body">
    <a title="Jira" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://atlassian.com/software/jira">
      <icon src="../assets/tech/t-3/jira.svg"></icon>
    </a>
    <a title="Confluence" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://www.atlassian.com/software/confluence">
      <icon src="../assets/tech/t-3/confluence.svg"></icon>
    </a>
    <a title="BitBucket" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://bitbucket.org/">
      <icon src="../assets/tech/t-3/bitbucket.svg"></icon>
    </a>
    <a title="Git" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://git-scm.com/">
      <icon src="../assets/tech/t-3/git.svg"></icon>
    </a>
    <a title="GitHub" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://github.com/">
      <icon src="../assets/tech/t-3/github.svg"></icon>
    </a>


    <a title="VS Code" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://code.visualstudio.com/">
      <icon src="../assets/tech/t-3/vs-code.svg"></icon>
    </a>
    <a title="Postman" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://postman.com/">
      <icon src="../assets/tech/t-3/postman.svg"></icon>
    </a>
    <a title="Insomnia" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://insomnia.rest/">
      <icon src="../assets/tech/t-3/insomnia.svg"></icon>
    </a>


    <a title="Notion" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://notion.so/">
      <icon src="../assets/tech/t-3/notion.svg"></icon>
    </a>
    <a title="Asana" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://asana.com/">
      <icon src="../assets/tech/t-3/asana.svg"></icon>
    </a>
  </div>
</div>

<!--  -->

<!-- <a title="Markdown" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://markdownguide.org/"> -->
  <!-- <icon src="../assets/tech/t-3/markdown.svg"></icon> -->
<!-- </a> -->
<!-- <a title="Google Search 😉" class="t-icon" target="_blank" rel="noopener noreferrer" href="https://google.com/search/howsearchworks/"> -->
  <!-- <icon src="../assets/tech/t-3/google.svg"></icon> -->
<!-- </a> -->