<section id="about">
  <div class="container">
    <h2 class="section-heading">About Me</h2>

    <div class="all-about">
      <div class="left card">
        <img 
          class="card__img" 
          src="../images/profile/avatar.jpg" 
          alt="about-profile-avatar"
        />
      <!-- <include src="../partials/profile/avatar.html"></include> -->

        <p class="card__desc">
          I'm a Front-End Engineer & UX/UI Developer based in the Bay Area (SF).
          I enjoy turning people's website ideas into an online business
          and helping them stay connected with their target audience.
        </p>
        <h3 class="card__name">Michael F Alvarez</h3>
        <p class="card__sub-title">curious collaborative creative</p>
      </div>

      <div class="right info">
        <p class="info__intro">¡Hola! You can call me Micky <q id="bounce">🤗</q></p>
        <h2 class="info__position">Front-End Engineer & UX/UI Developer</h2>
        
        <p class="info__desc">
          I work on building online services with React, focused on UI web applications and responsive design.
          Anytime I start assembling components, I think about 3 key parts: accessibility, performance, and scalability.
          <br />
          <br />
          Getting into the tech world is such an adventure. 
          You get to explore what is new in the market place of software technologies,
          see people who is invested in turning project ideas into viable product worth solving,
          and join an immersive journey to fail, struggle, and grow.
          <code>This is the way ~</code>
        </p>
<!-- 
        <dl class="info__skills">
          <dt>What I am currently learning:</dt>
          <dd>Atomic Design, Design Architecture, Design System, Web 3.0</dd>
          <dt>What I am curious about:</dt>
          <dd>JAM Stack, Next.js, Redux, TypeScript, GraphQL, Tailwind</dd>
          <dt>What has my attention:</dt>
          <dd>Framer Motion, Three.js, GSAP, SVG animation</dd>
        </dl>
-->
        <div class="info__options">
          <button id="view-resume-2" class="btn btn--primary">Open Resume</button>
          <button id="view-contact" class="btn btn--primary-outline">Contact Me</button>
        </div>
      </div>
    </div>

    <ul class="timeline" role="list">
      <li class="timestamp">
        <time>2018</time>
        <p>Started my web dev journey</p>
      </li>
      <li class="timestamp">
        <time>2019</time>
        <p>Enrolled in a Full Stack Web Development bootcamp</p>
      </li>
      <li class="timestamp">
        <time>2020</time>
        <p>TA'ed as a UX/UI Designer & Developer</p>
      </li>
      <li class="timestamp">
        <time>2021</time>
        <p>Enrolled in a Data Structure & Algorithm intensive program</p>
      </li>
    </ul>
  </div>
</section>