<footer>
  <div class="all-links">
    <div class="container">
      <div class="col col-0">
        <icon src="../images/icons/favicon.svg" class="favicon"></icon>
        <p class="l-desc">
          I build React UI features ready for 
          accessibility, performance, and scalability.
          <br />
          <br />
          I'm available for remote work.
        </p>
      </div>

      <div class="col col-1">
        <h4 class="l-heading">Navigation Links</h4>
        <ul class="l-list" role="list">
          <li><a href="#projects">My Projects</a></li>
          <li><a href="#technologies">Technologies</a></li>
          <li><a href="#about">About Me</a></li>
        </ul>
      </div>

      <div class="col col-2">
        <h4 class="l-heading">Social Links</h4>
        <ul class="l-list" role="list">
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="https://linkedin.com/in/awwmicky"
          >LinkedIn
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="https://twitter.com/awwmicky"
          >Twitter
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/awwmicky"
          >GitHub
          </a></li>
        </ul>
      </div>

      <div class="col col-3">
        <h4 class="l-heading">Contact Info</h4>
        <ul class="l-list" role="list">
          <li><a 
            target="_self"
            href="mailto:m-f-alvarez@outlook.com"
          >m-f-alvarez@outlook.com
          </a></li>
          <li><a 
            target="_self"
            href="tel:6502608682"
          >650-260-8682
          </a></li>
          <li><a 
            download 
            target="_self"
            href="../docs/michael-f-alvarez__resume.pdf"
          >download resume
          </a></li>
          <li><a 
            target="_blank" 
            rel="noopener noreferrer"
            href="https://rebrand.ly/michael-f-alvarez__social"
          >@awwmicky
          </a></li>
          <li><a 
            target="_blank" 
            rel="noopener noreferrer"
            href="https://www.google.com/maps/place/San+Mateo,+CA"
          >San Mateo, CA
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <span>© copyright 2021 — Michael F Alvarez (aka Micky)</span>
    </div>
  </div>
</footer>