<footer>
  <div class="all-links">
    <div class="container">
      <div class="col col-0">
        <icon src="../images/meta/favicon.svg" class="favicon"></icon>

        <p class="l-desc">
          I build React UI libraries and features ready for scalability.
          <br />
          <br />
          I'm available for remote work.
        </p>
      </div>

      <div class="col col-1">
        <h4 class="l-heading">Navigation Links</h4>
        <ul class="l-list" role="list">
          <li><a href="#projects">My Projects</a></li>
          <li><a href="#services">My Services</a></li>
          <li><a href="#about">About Me</a></li>
        </ul>
      </div>

      <div class="col col-2">
        <h4 class="l-heading">Social Links</h4>
        <ul class="l-list" role="list">
          <li><a 
            target="_blank"
            rel="noopener noreferrer" 
            href="{{ social_link.linkedin }}"
          >LinkedIn
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="{{ social_link.twitter }}"
          >Twitter
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="{{ social_link.github }}"
          >GitHub
          </a></li>
        </ul>
      </div>

      <div class="col col-3">
        <h4 class="l-heading">Contact Info</h4>
        <ul class="l-list" role="list">
          <li><a 
            target="_self"
            href="mailto:{{ contact_info.email }}"
          >{{ contact_info.email }}
          </a></li>
          <li><a 
            target="_self"
            href="tel:{{ contact_info.phone }}"
          >{{ contact_info.phone }}
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="{{ contact_info.resume }}"
          >view resume
          </a></li>
          <li><a 
            target="_blank"
            rel="noopener noreferrer"
            href="{{ contact_info.calendly }}"
          >set appointment
          </a></li>
          <li><a 
            target="_blank" 
            rel="noopener noreferrer"
            href="{{ contact_info.social }}"
          >@awwmicky
          </a></li>
          <li><a 
            target="_blank" 
            rel="noopener noreferrer"
            href="{{ contact_info.location }}"
          >Bay Area, CA
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <span>© copyright 2021 — Michael F Alvarez (aka Micky)</span>
    </div>
  </div>
</footer>