<header>
  <div class="container">
    <a class="logo" role="button" href="#">
      <icon src="../images/icons/favicon.svg" class="favicon"></icon>
      <h1 class="title">Michael F Alvarez</h1>
    </a>
    
    <nav class="navbar">
      <a href="#projects">My Projects</a>
      <a href="#technologies">Technologies</a>
      <a href="#about">About Me</a>
    </nav>

    <ul class="quick-links" role="list">
      <li> 
        <a 
          class="social-btn"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/awwmicky"
        > <i class="devicon-github-original"></i> 
        </a>
      </li>
      <li> 
        <a 
          class="social-btn"
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/awwmicky"
        > <i class="devicon-twitter-original"></i> 
        </a>
      </li>
      <li> 
        <a 
          class="social-btn"
          target="_blank"
          rel="noopener noreferrer"
          href="https://linkedin.com/in/awwmicky"
        > <i class="devicon-linkedin-plain"></i> 
        </a>
      </li>
    </ul>
  </div>
</header>