<main id="hero">
  <div class="container">
    <div class="hero-content">
      <p class="hero-intro">
        <span data-title="Hey, how are you">Hola, cómo estás</span>
        <q id="wave">👋</q>
        <span class="name">I am Michael F. Alvarez</span>
      </p>

      <h2 class="hero-title">
        I am a Front-End Engineer & UX/UI Developer.
      </h2>

      <p class="hero-desc">
        I work on building online services with React.
        Whenever I create features, I keep a clear mind for
        reusability, versatility, & responsiveness.
        <br>
        Let's go take a look
      </p>
      
      <div class="hero-options">
        <button id="view-work" class="btn btn--primary">View my work</button>
        <button id="view-resume-1" class="btn btn--primary-outline">View my resume</button>
      </div>
    </div>

    <div class="hero-profile">
      <img
        class="hero-image"
        src="../images/profile/picture.jpg" 
        alt="my-profile-picture"
      />
      <!-- <include src="../partials/profile/picture.html"></include> -->
    </div>
  </div>
</main>