<main id="hero">
  <div class="container">
    <div class="hero-content">
      <p class="hero-intro">
        <span data-title="Hey, how are you">Hola, cómo estás</span>
        <q id="wave">👋</q>
        <span class="name">I am Michael F Alvarez</span>
      </p>

      <h2 class="hero-title">
        I'm a Front-End Engineer & UI Developer.
      </h2>

      <p class="hero-desc">
        I work on building digital products with React. 
        When I create UI components, I always check for
        proof of concept first, then ready to scale.
        <br />
        <code>Let's go take a look</code>
      </p>
      
      <div class="hero-options">
        <button data-id="projects" class="btn btn--primary">View my work</button>
        <button data-id="contact" class="btn btn--primary-outline">Get in touch</button>
      </div>
    </div>

    <div class="hero-profile">
      <include src="../partials/profile/picture.html"></include>
    </div>
  </div>
</main>