@use '../abstracts/' as *;

header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #efebfa;
  z-index: 3;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

header > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  padding-top: 1em;
}

.logo {
  grid-area: 1 / 1 / 1 / 4;
  display: flex !important;
  place-items: center;

  h1 { 
    font-size: 1.2rem; 
    margin-left: 0.5em;
    display: none;
  }
}

.navbar {
  grid-area: 2 / 1 / 2 / 5;
  display: flex;
  place-content: space-around;

  a {
    transition: 0.4s ease;
    padding: 0.5rem;
    transition: all 0.6s ease;
    height: 100%;
    display: flex;
    place-items: center;

    @include single-element (auto 0 0) {
      transition: transform 0.3s ease-in-out;
      background-color: #5924ed;
      transform: scaleX(0);
      display: inline-block;
      height: 0.25rem;
    }
    
    &:hover {
      color: #5924ed;
      &::before { transform: scaleX(1); }
    }    
  }
}

.quick-links {
  grid-area: 1 / 4 / 1 / 5;
  display: flex;
  place-items: center;
  place-content: space-around;
  gap: 0.5em;
}

@include breakpoint (tablet_1) {
  .logo h1 { display: block; }
}

@include breakpoint (desktop) {
  header > div {
    grid-template-rows: 1fr;
    gap: 2rem 0;
    padding: 2rem 0 1rem;
  }

  .logo {
    grid-area: 1 / 1 / 2 / 2;
  }

  .navbar {
    grid-area: 1 / 2 / 2 / 4;
    a { padding: 0; }
  }

  .quick-links {
    grid-area: 1 / 4 / 2 / 5;
    place-content: flex-end;
    gap: 2em;
  }
}

