@use '../abstracts/' as *;

#services {
  padding: 10rem 0;
}

#services .section-subheading {
  margin-bottom: 1.5rem;
}

.all-process {
  display: grid;
  gap: 2em;
  place-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.s-head {
  margin-bottom: 0.5em;

  & .s-title { font-size: 1.5rem; }
}

.s-body {
  max-width: 50ch;
}

@include breakpoint (tablet_1) {
  .all-process {
    grid-template-columns: repeat(3, 1fr);
  }
}