/* Test */

// html, 
body.test { border: 3px solid darkslategray; }
// body.test *, .b *, .b { border: 2px solid silver; }
body.test *, .sss *, .sss, .ss > *, .ss, .s { box-shadow: inset 0 0 5px silver; }
// body *, .t *, .t { transition: 0.3s ease; }
body.test *, .ttt *, .ttt, .tt > *, .tt, .t { transition: 0.3s linear; }